* {
  box-sizing: border-box;
}

$ff: "Roboto Slab", serif; /* Sass Variable */

// Sass Map - So that we don't need to provide fallbacks every time when using custom css properties
$vars: (
  clr-brand: violet,
  clr-bg: dodgerblue,
  clr-white: #fff,
  clr-dark1: rgb(32, 35, 42),
  clr-dark2: rgb(51, 55, 62),
  c1: #333,
  c2: #ccc,
  c3: gray,

  fw-s: 300,
  fw-m: 500,
  fw-b: 800,

  fs-s: clamp(0.88rem, calc(0.81rem + 0.34vw), 1.13rem),
  fs-n: clamp(1rem, calc(0.86rem + 0.68vw), 1.5rem),
  fs-l: clamp(1.25rem, calc(1.05rem + 1.02vw), 2rem),
  bs: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
);

@mixin var($prop, $val) {
  #{$prop}: map-get($vars, $val);
  #{$prop}: var(--#{$val});
}

:root {
  @each $prop, $val in $vars {
    --#{$prop}: #{$val};
  }

  font-family: $ff;
}

body {
  font-family: $ff;
  margin: 0;
  padding: 0;
  // @include var(background-color, clr-white);
  // @include var(color, c1);
  @include var(font-weight, fw-m);
  @include var(font-size, fs-l);
}

.app-wrapper.light {
  @include var(background-color, clr-white);
  @include var(color, c1);
}

.app-wrapper.dark {
  @include var(background-color, clr-dark1);
  @include var(color, clr-white);
}

.light {
  @include var(background-color, clr-white);
}

.dark {
  @include var(background-color, clr-dark2);
}

.bs {
  @include var(box-shadow, bs);
}

.fs-l {
  @include var(font-size, fs-l);
  @include var(font-weight, fw-b);
}

.fs-s {
  @include var(font-size, fs-s);
  @include var(font-weight, fw-s);
}

.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.cp {
  cursor: pointer;
}

.g-0 {
  --gap: 0px;
}

%flex {
  display: flex;
  gap: var(--gap, 15px);
}

.flex {
  @extend %flex;
}

.flex-center {
  @extend %flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  @extend %flex;
  flex-direction: column;
}

.flex-wrap {
  @extend %flex;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.header {
  height: 250px;
  margin-bottom: 140px;
  z-index: 0;

  background: #12c2e9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f64f59,
    #c471ed,
    #12c2e9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom-nav {
  width: 95vw;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border-radius: 8px;
  @include var(color, clr-white);
}

.custom-nav.light,
.custom-nav.dark {
  background-color: transparent;
}

.navIcon {
  width: 70px;
  height: 70px;
  filter: hue-rotate(195deg) drop-shadow(8px 10px 4px hsl(0 0% 0% / 0.3));
}

.clr-pallete {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
}

.sectionIcon {
  width: 50px;
  height: 50px;
}

.custom-slider {
  width: 95vw;
  z-index: 1;
  bottom: 0;
  height: 250px;
  transform: translateY(50%);

  font-size: 3rem;
  font-weight: bold;
}

.main-content {
  padding: 15px;
  --gap: 30px;
}

.main-content > div {
  width: 45%;
  height: 200px;
  flex-grow: 1;
  border-radius: 6px;
}

.section-header {
  --gap: 10px;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
}
